<p>List your sales here</p>
<% @employees.each do |employee| %>
  <% if employee.position == 'commission sales' %>
    <% employee.sales.each do |sale| %>
      <% if employee.last_name == sale["last_name"] %>
        <li>
            <% name_class = (employee.first_name == "Ricky" && employee.last_name == 'Bobby') ? 'ricky' : '' %>
            <span class="<%= name_class %>">
              First Name: <%= employee.first_name %>
              Last Name: <%= employee.last_name %>
            Sale: <%= sale["gross_sale_value"] %>
            Commission: <%= employee.counter_sales %>
            </span>
          </li>
    <% end %>
  <% end %>
  <% end %>
  <% if employee.position == 'quota sales' %>
      <% employee.sales.each do |sale| %>
      <% if employee.last_name == sale["last_name"] %>
       <li> First Name: <%= employee.first_name %>
       Last Name: <%= employee.last_name %>
       Sale: <%= sale["gross_sale_value"] %>
      <% end %>
        <% end %>
  <% end %>
<% end %>


